[General]
last_backup_file = last_backup.cfg
# Source paths must be seperated by whitespace. Caution, "''" is also a valid value (no quoutes needed)
srcpaths = /home/ian/test /home/ian/test2 /home/ian/test/blub /home/ian/test3
rsync_options =
rsync_logdir =
dst_uuid = fa29d0b5-cab8-424c-a931-4a4fd3590e2e
dst_mount = /media/my_backup/
dst_path = bigboy
last_backup = 2014-06-02
backup_interval_days = 21
